//= require react-tagsinput

var BookmarkForm = React.createClass({
  getDefaultProps: function() {
    return {
      id: null,
      title: "",
      url: "",
      tags: []
    };
  },

  getInitialState: function() {
    return {
      id: this.props.id,
      title: this.props.title,
      url: this.props.url,
      tags: this.props.tags,
      errors: {}
    }
  },

  componentDidUpdate: function(prevProps, prevState) {
    var titleField = this.props.renderedForm().
      find("#bookmark_title");

    if (this.props.displaying != prevProps.displaying) {
      if (this.props.displaying) {
        titleField.focus();

        // make "Cancel" hide
        this.props.renderedForm().on(
          "click",
          ".cancel",
          this.props.toggleDisplaying
        );

        // press esc to hide
        this.props.renderedForm().on(
          "keyup",

          function(e) {
            if (e.which == 27) {
              this.props.toggleDisplaying(e);
            }
          }.bind(this)
        );
      } else {
        this.props.renderedForm().off("click", ".cancel");
        this.props.renderedForm().off("keyup");
        titleField.blur(); // prevent typing on hidden field
        this.setState(this.getInitialState());
      }
    }
  },

  displayingClass: function() {
    return this.props.displaying ? "" : "hidden"
  },

  handleTitleChange: function(e) {
    this.setState({title: e.target.value});
  },

  handleUrlChange: function(e) {
    this.setState({url: e.target.value});
  },

  handleTagsChange: function(tags) {
    this.setState({tags: tags});
  },

  handleSubmit: function(e) {
    e.preventDefault();

    var id = this.state.id;
    var title = this.state.title.trim();
    var url = this.state.url.trim();

    this.props.onSubmit(
      {bookmark: {
        id: id,
        title: title,
        url: url
      }},

      function() {
        this.setState({title: "", url: ""});
        this.props.toggleDisplaying(e);
      }.bind(this),

      function(errors) {
        var titleField = this.props.renderedForm().find("#bookmark_title");

        titleField.focus();
        this.setState({errors: errors});
      }.bind(this),
    );
  },


  render: function() {
    return(
      <div>
        <form className={this.displayingClass() + " modal " + this.props.className} onSubmit={this.handleSubmit}>
          <h2>{this.props.headerText}</h2>

          <section>
            <label htmlFor="bookmark_title">
              Title
            </label>

            <InputWithErrors errors={this.state.errors.title}>
              <input type="text" id="bookmark_title" value={this.state.title} onChange={this.handleTitleChange} />
            </InputWithErrors>
          </section>

          <section>
            <label htmlFor="bookmark_url">
              URL
            </label>

            <InputWithErrors errors={this.state.errors.url}>
              <input type="text" id="bookmark_url" value={this.state.url} onChange={this.handleUrlChange} />
            </InputWithErrors>
          </section>

          <section>
            <label htmlFor="tags">
              Tags
            </label>

            <InputWithErrors errors={this.state.errors.tags}>
              <ReactTagsInput value={this.state.tags} onChange={this.handleTagsChange} />
            </InputWithErrors>
          </section>

          <section className="controls">
            <%= link_to "Cancel", :back, className: "cancel" %>
            <input type="submit" value="Save" className="button button-green" />
          </section>
        </form>

        <div className={this.props.className + " " + this.displayingClass() + " modal-overlay"} />
      </div>
    );
  }
});
