var BookmarksIndex = React.createClass({
  getInitialState: function() {
    return {
      bookmarks: this.props.bookmarks,
      bookmarkNewFormDisplaying: false,
      errors: {}
    }
  },

  toggleBookmarkNewFormDisplaying: function(e) {
    if (typeof(e) != "undefined") {
      e.preventDefault();
    }

    this.setState({
      bookmarkNewFormDisplaying: !this.state.bookmarkNewFormDisplaying,
      errors: {}
    });
  },

  handleNewSubmit: function(newBookmark, success, error) {
    var bookmarks = this.state.bookmarks;

    // not the actual ID, just one we can use to render quickly
    var newBookmarkId;

    if (bookmarks.length > 0) {
      newBookmarkId = bookmarks[bookmarks.length - 1].id;
    } else {
      newBookmarkId = 0;
    }

    newBookmark.id = newBookmarkId + 1;

    var newBookmarks = bookmarks.concat([newBookmark]);
    this.setState({bookmarks: newBookmarks});

    this.handleSubmit("/bookmarks.json", "POST", newBookmark, bookmarks, success, error);
  },

  handleEditSubmit: function(bookmark, success, error) {
    newBookmark = bookmark.bookmark;

    var oldBookmarks = this.state.bookmarks;
    var newBookmarks = oldBookmarks.slice(0);

    var bookmarkIndex = newBookmarks.findIndex(function(bookmarkComponent) {
      return newBookmark.id == bookmarkComponent.id
    });

    newBookmarks[bookmarkIndex] = newBookmark;

    this.handleSubmit("/bookmarks/" + newBookmark.id, "PATCH", {bookmark: newBookmark}, oldBookmarks, success, error);
  },

  handleSubmit: function(endpoint, method, newBookmark, oldBookmarks, success, error) {
    $.ajax({
      url: endpoint,
      dataType: "json",
      type: method,
      data: newBookmark,

      success: function(data) {
        this.setState({bookmarks: data, errors: {}});
        success();
      }.bind(this),

      error: function(xhr, status, err) {
        var errors = xhr.responseJSON;

        this.setState({
          bookmarks: oldBookmarks,
          errors: errors
        });

        error();
      }.bind(this),
    });
  },

  handleDelete(bookmarkToDelete) {
    var bookmarks = this.state.bookmarks;

    var newBookmarks = bookmarks.filter(function(bookmark) {
      return bookmark.id != bookmarkToDelete.id;
    });

    this.setState({bookmarks: newBookmarks});

    $.ajax({
      url: "/bookmarks/" + bookmarkToDelete.id + ".json",
      dataType: "json",
      type: "DELETE",

      success: function(data) {
        this.setState({bookmarks: data});
      }.bind(this),

      error: function(xhr, status, err) {
        this.setState({bookmarks: bookmarks});
      }.bind(this)
    });
  },

  render: function() {
    return (
      <div className="container">
        <header className="title">
          <h2>Your Bookmarks</h2>

          <a
            href="#"
            className="button button-green right-abs"
            onClick={this.toggleBookmarkNewFormDisplaying}
          >
            Add bookmark
          </a>
        </header>

        <BookmarksList
          bookmarks={this.state.bookmarks}
          onDelete={this.handleDelete}
          onSubmit={this.handleEditSubmit}
        />

        <BookmarkNewForm
          displaying={this.state.bookmarkNewFormDisplaying}
          toggleDisplaying={this.toggleBookmarkNewFormDisplaying}
          errors={this.state.errors}
          onSubmit={this.handleNewSubmit}
        />
      </div>
    );
  }
});
