var BookmarksIndex = React.createClass({
  getInitialState: function() {
    return {
      bookmarks: this.props.bookmarks,
      bookmarkNewFormDisplaying: false
    }
  },

  toggleBookmarkNewFormDisplaying: function(e) {
    e.preventDefault();

    this.setState({
      bookmarkNewFormDisplaying: !this.state.bookmarkNewFormDisplaying
    });
  },

  render: function() {
    return (
      <div className="container">
        <header className="title">
          <h2>Your Bookmarks</h2>

          <a
            href="<%= new_bookmark_path %>"
            className="button button-green right"
            onClick={this.toggleBookmarkNewFormDisplaying}
          >
            Add bookmark
          </a>
        </header>

        <BookmarksList bookmarks={this.state.bookmarks} />
        <BookmarkNewForm displaying={this.state.bookmarkNewFormDisplaying} toggleDisplaying={this.toggleBookmarkNewFormDisplaying} />
      </div>
    );
  }
});
