var InputWithErrors = React.createClass({
  getDefaultProps: function() {
    return {errors: []};
  },

  field: function() {
    return this.props.errors.length > 0 ?
      <div className="field_with_errors">
        {this.props.children}
      </div> :
        this.props.children;
  },

  errorNodes: function() {
    return this.props.errors.map(function(error, index) {
      return <InputError error={error} key={index} />
    });
  },

  render: function() {
    return(
      <span>
        {this.field()}
        {this.errorNodes()}
      </span>
    );
  }
});
