/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Colors

$red: #FF596A;
$orange: #FF9C59;
$yellow: #FFEE59;
$green: #59FF9C;
$blue: #59BDFF;
$violet: #9C59FF;

// Utilities

.container {
  margin: 0 auto;
  max-width: 800px;
}

// Site-wide styles

body {
  margin: 0;
  font-family: Avenir, Helvetica, sans-serif;
}

.main-header {
  position: fixed;
  width: 100%;
  background: $blue;
  color: #fff;
}
