/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Colors

$red: #FF596A;
$orange: #FF9C59;
$yellow: #FFEE59;
$green: #59FF9C;
$blue: #59BDFF;
$violet: #9C59FF;

$dark-red: darken($red, 25%);
$dark-orange: darken($orange, 25%);
$dark-yellow: darken($yellow, 25%);
$dark-green: darken($green, 25%);
$dark-blue: darken($blue, 25%);
$dark-violet: darken($violet, 25%);

// Variables

$header-height: 5em;

// Utilities

.container {
  margin: 0 auto;
  padding: 0 .75em;
  max-width: 800px;
}

@mixin button-background($background) {
  background: $background;

  &:hover {
    background: lighten($background, 5%);
  }

  &:active {
    background: darken($background, 5%);
  }
}

.button {
  -webkit-appearance: none;

  margin: 0;
  padding: .25em .5em;
  border-radius: .5em;

  text-decoration: none;
  font-weight: bold;
  font-size: inherit;

  color: #FFF;

  transition: background-color .125s;

  // Default color
  @include button-background($blue);

  border: 0;

  &.button-red {
    @include button-background($red);
  }

  &.button-orange {
    @include button-background($orange);
  }

  &.button-yellow {
    @include button-background($dark-yellow);
  }

  &.button-green {
    @include button-background($dark-green);
  }

  &.button-blue {
    @include button-background($blue);
  }

  &.button-violet {
    @include button-background($violet);
  }
}

// Site-wide styles

body {
  margin: 0;

  font-family: Avenir, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}

.content {
  padding-top: $header-height + 1em;
}

.main-header {
  position: fixed;
  box-sizing: border-box;

  padding: 1em 0;

  width: 100%;
  height: $header-height;

  background: $blue;
  color: #FFF;

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    height: 100%
  }

  h1 {
    margin: 0;
  }
}

form {
  display: inline-block;

  label {
    display: inline-block;
    width: 3em;
  }

  input[type="text"] {
    margin: 0;
    font-size: inherit;
  }

  input[type="submit"] {
    float: right;
  }
}
